//Colors
$dark-primary: #b71c1c ;
$primary: #e53935 ;
$accent: #795548;
$blue: #01579B;
$blue-dark: #0D47A1;
$light-blue: #039BE5;
$green: #5e5e34;
$white: #ffff;
$black: black;
//Fonts
$small: 16px;
$medium: 20px;
$big: 48px;

//Paddings
$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;
